.name{
    color       : #27ae60;
    font-weight : bold;
    margin-right: 42px;
}

.status{
    color       : #27ae60;
    font-weight : bold;
    margin-right: 40px;
}

.price{
    color       : #27ae60;
    font-weight : bold;
    margin-right: 45px;
}

.date{
    color       : #27ae60;
    font-weight : bold;
    margin-right: 47px;
}

.description{
    color      : #27ae60;
    font-weight: bold;
}

.card_item{
    margin    : auto;
    margin-top: 50px;
}

.list-group-item:nth-child(even){
    background-color: #eee;
}

.rounded-circle{
    max-height: 50px;
    width: 50px;
}

.submit_comment{
    width: 545px !important;
}

.user{
    position: absolute;
    margin-left: 200px;
}

.comment{
    margin-left: 280px;
    margin-top: 20px;
}

.user-comment{
    margin-bottom: 100px;
}

.edit_btn{
    position: absolute;
    right: 60px;
}

.edit_comment{
    width: 400px;
}